default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

test:
  <<: *default
  database: development_task_development

development:
  <<: *default
  database: development_task_development
